@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "Roles";
}
<div class="container-fluid">
    <div class="row mt-5">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="card mb-4">
                <div class="card-heading text-center bg-danger pt-3 pb-3 text-white">
                    <h4>Panel</h4>
                </div>
                <div class="card-body">
                    <a class="btn btn-large btn-secondary" asp-controller="Admin" asp-action="Panel">Duyurular</a>
                    <a class="btn btn-large btn-secondary" asp-controller="Admin" asp-action="Users">Kullanıcılar</a>
                    <a class="btn btn-large btn-primary" asp-controller="Admin" asp-action="Roles">Roller</a>
                    <a class="btn btn-large btn-secondary" asp-controller="Admin" asp-action="Yorumlar">Yorumlar</a>
                    <br /><br />
                    @if (Model.Count() == 0)
                    {
                        <h2>Rol Yok</h2>

                    }
                    else
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Rol Id</th>
                                    <th>Rol Adı</th>
                                    <th>Kullanıcılar</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Name</td>
                                        <td identity-role="@item.Id"></td>
                                        <td>
                                            <a class="btn btn-large bg-danger text-white" data-toggle="confirmation" data-title="Emin Misiniz?" data-btn-ok-label="Evet" data-btn-ok-class="btn-danger"
                                               data-btn-cancel-label="Hayır" asp-controller="Admin" asp-action="DeleteRole" asp-route-id="@item.Id">Sil</a>
                                        </td>
                                        <td><a class="btn btn-primary" asp-action="EditRole" asp-route-id="@item.Id">Detaylar</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                    <a class="btn btn-large btn-primary" asp-controller="Home" asp-action="Index">Anasayfa</a>
                    <a class="btn btn-large btn-success" asp-action="CreateRole">Yeni Rol Ekle</a>
                    <a class="btn btn-large bg-danger text-white" data-toggle="confirmation" data-title="Çıkmak İstiyor musunuz?" data-btn-ok-label="Evet" data-btn-ok-class="btn-danger"
                       data-btn-cancel-label="Hayır" asp-controller="Admin" asp-action="Logout">Çıkış</a>
                </div>
            </div>
        </div>
    </div>
</div>



